.content {
  .c-red {
    color: #e83e8c;
  }
  .flex {
    justify-content: center;
    //
    .text {
      flex: 2;
      .iconify {
        font-size: 36px;
        color: blue;
      }
      h3 {
        color: #3b3950;
        line-height: 1.4;
        font-weight: 600;
        margin-bottom: 1.5rem;
        font-family: Muli, sans-serif;
        margin-top: 1rem;
        max-width: 450px;
      }
      h6 {
        color: #3b3950;
        // font-weight: 500;
        text-transform: uppercase;
        margin-bottom: 1rem;
        max-width: 450px;
      }
      p {
        color: #9e9cb9;
        font-size: 17px;
        padding-bottom: 3rem;
        margin-bottom: 3rem;
        line-height: 1.8;
        max-width: 450px;
      }
    }
    .image {
      flex: 1.5;
      // max-width: ;
    }
  }
  .text-muted {
    color: #9e9cb9;
    font-size: 15px;
    margin-bottom: 1.5rem;
    a {
      text-decoration: none;
    }
  }

  .uk-container {
    .txt {
      color: #e83e8c;
    }
    h1 {
      color: #3b3950;
      font-size: 40px;
      text-shadow: 1px 2px 3px rgb(59 57 80 / 20%);
      margin-bottom: 1rem;
      font-weight: 700;
    }
    p {
      .text-muted {
        color: #9e9cb9;
        font-size: 15px;
      }
    }
    h3 {
      font-weight: 700;
      margin-bottom: 1rem;
      font-size: 1.75rem;
      color: #3b3950;
      text-shadow: 1px 2px 3px rgb(59 57 80 / 20%);
    }
  }

  $primary: rgb(90, 79, 220);
  .features {
    text-align: center;
    transition: all 0.5s;
    .flex-column {
      flex: 1;

      .card {
        margin: 2rem 1rem;
        padding: 2rem;
        border-radius: 0.3rem;

        box-shadow: 0 3px 12px rgba(6, 11, 47, 0.1);
        transition: all 0.5s;

        .iconify {
          height: 80px;
          width: 80px;
          padding: 1rem;
          border-radius: 50%;
          background: rgba(90, 79, 220, 0.12);
          color: #5a4fdc;
          margin-bottom: 1.5rem;
          transition: ease 0.5s;
        }

        &:hover {
          .iconify {
            color: white;
            border: 3px solid rgb(255, 255, 255);
          }

          color: white;
          box-shadow: 0 3px 12px rgb(90, 79, 220);
          background-color: $primary;

          p {
            color: white;
          }
        }

        p {
          transition: all 0.5s;
          line-height: 1.5;
        }
        h5 {
          font-weight: 600;
          margin-top: 0;
        }
      }
    }
  }

  .flex {
    align-items: flex-start;
  }

  p {
    margin: 1.5rem 0;
  }

  @media screen and (min-width: 56.26rem) {
    .max-width {
      max-width: 25rem;
    }
  }

  // when screen is smaller then 900px : execute this code
  @media screen and (max-width: 56.25rem) {
    .flex {
      flex-direction: column;

      .flex-column {
        .card {
          margin: 1rem;
          margin-bottom: 0;
        }
      }

      .image {
        img {
          margin: 3rem 0;
        }
      }
    }
    .text {
      text-align: center;
    }
  }
}
