<section class="content">
        <div class="header uk-text-center">
            <h1>Get in touch</h1>
            <p>We like to create things with fun, open-minded people. Feel free to say hello!</p>
        </div>

        <div class="uk-container">
            <div class="uk-grid-item-match " uk-grid>
                <div class="uk-width-expand">
                    <form class="uk-grid-small" uk-grid>
                        <div class="uk-width-1-2@s">
                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-stacked-text">Name*</label>
                                <input class="uk-input" type="text" placeholder="Your Name...">
                            </div>
                        </div>
                        <div class="uk-width-1-2@s">
                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-stacked-text">Email Address*</label>
                                <input class="uk-input" type="text" placeholder="Your Email...">
                            </div>
                        </div>
                        <div class="uk-width-expand@s">
                            <div class="uk-margin">
                                <label class="uk-form-label" for="form-stacked-text">Message*</label>
                                <textarea class="uk-textarea" rows="3" placeholder="Your Message..."></textarea>
                            </div>
                        </div>
                    </form>
                    <button class="uk-button uk-button-default uk-button-medium">Send Message <span class="iconify"
                            data-icon="feather:send" data-inline="false"></span></button>
                </div>
                <div class="uk-width-1-3@s" style="font-size: 16px;">
                    <ul class="uk-list">
                        <li><span class="iconify" data-icon="feather:mail" data-inline="false"></span> : hello@inforsys.co.id</li>
                        <li><span class="iconify" data-icon="feather:link" data-inline="false"></span> : inforsys.co.id </li>
                        <li><span class="iconify" data-icon="feather:phone-call" data-inline="false"></span> : +62 778 416 0250</li>
                        <li><span class="iconify" data-icon="feather:message-circle" data-inline="false"></span> : +62 811 7757 634</li>
                        <li><span class="iconify" data-icon="feather:clock" data-inline="false"></span> : 8:00 AM - 5:00 PM</li>
                        <li><span class="iconify" data-icon="feather:map-pin" data-inline="false"></span> : Orchard Walk Blok C#18
                            Jl. Orchard Boulevard Orchad Park Batam Batam Kota Kepulauan Riau Indonesia 29464</li>
                    </ul>
                </div>
            </div>
        </div>
</section>