<section class="cnt">
    <div class="uk-container flex">
        <div class="text">
            <h6><span class="iconify" data-icon="mdi-chart-bubble" data-inline="false"></span>PISI</h6>
            <h3>Attendance, Payroll and Human Resouces Software</h3>
            <p class="text-muted">Kami membagi dua software untuk Human resources yaitu <span>PISI Attendance System</span> dan <span>PISI Payroll System</span> karena masing
            masing software dioperasikan oleh dua departement terpisah</p>
        </div>

        <div class="image">
            <!-- <img src=" " alt="Image"> -->
        </div>
    </div>

    <div class="uk-container">
        <p class="text-muted"><span>PISI Attendance System</span> fokus menangani jadwal kehadiran karyawan melalui setting slotting mesin, badge, kalkulasi jam
        lembur, bahkan sampai perhitungan tunjangan dan potongan karyawan.</p>

        <p class="text-muted"><span>APISI Payroll System</span> merupakan system yang menangani penggajian karyawan dari mulai perhitungan basic salary, perhitungan
        lembur karyawan, tunjangan – tunjangan bahkan, potongan – potongan baik itu potongan yang bersifat tetap seperti
        asuransi – asuransi, potongan pajak yang di berlakukan pemerintah sampai potongan tidak tetap diantaranya, karena faktor
        keterlambatan kerja, pinjaman karyawan dan lain sebagainya.</p>

        <p class="text-muted">Untuk lebih lanjut silahkan ke<a href="https://pisicloud.com/"> PISICLOUD.COM</a></p>
    </div>

    <div class="uk-container">
        <h3 class="title">PISI Attendance</h3>
        <ol>1. PISI Attendance System sudah memiliki Auto Rotate yang mana berfungsi untuk merotasi secara otomatis shift kerja
        karyawan, karena system lah yang akan menentukan daftar shift kehadiran karyawan yang tidak tetap, jadi system ini
        merupakan solusi terbaik untuk menjadi pilihan.</ol>
        <ol>2. Dilihat dari sisi ketidak hadiran karyawan juga telah disediakan kolom Remark yang bertujuan untuk memasukkan alasan –
        alasan karyawan tersebut tidak hadir, apakah karyawan itu Cuti, Sakit, Bahkan tanpa alasan sekalipun.</ol>
        <ol>3. PISI attendance juga memudahkan penggunanya dalam hal melakukan perubahan – perubahan jadwal kehadiran karyawan apabila
        diperlukan.</ol>
        <ol>5. Dari sisi Perhitungan OT ( Lembur ) PISI Attendance memiliki system otomatis Approve maupun manual approve yang
        bertujuan agar pihak HR bisa memantau jadwal Lembur karyawannya.</ol>
    </div>

    <div class="uk-container">
        <h3 class="title">PISI Payroll</h3>
        <ol>1. Metode perhitungan pajak, PISI Payroll system memiliki keunggulan yang luar biasa, yang mana perhitungan pajak langsung
        update mengikuti aturan pemerintah.</ol>
        <ol>2. Dalam segi perhitungan gaji yang memiliki rate berbeda dalam satu periode, PISI Payroll system mampu menghitung gaji
        basic secara prorate, yang mana system akan mengkalkulasikan gaji lama dan gaji baru.</ol>
        <ol>3. Keungulan yang ketiga, dari segi perhitungan – perhitungan lembur, Potongan – potongan, bahkan tunjangan – tunjangan
        semua menggunakan formula, jadi apabila aturan berubah, PISI payroll System hanya akan merombak formula bukan merombak
        system yang membutuhkan waktu lama.</ol>
    </div>

    <div class="fitur">
        <div class="text-center uk-container">
            <h1 class="title">Awesome features</h1>
            <p class="text-muted">Fitur-fitur kami dikembangkan dari kebutuhan customer kami</p>
        </div>

        <div class="features flex text-muted container">
            <!-- row 1 -->
            <div class="flex-column">
                <div class="card">
                    <!-- icon -->
                    <span class="iconify" data-icon="bx:bx-barcode-reader"></span>
                    <h5>Design Badge dengan Barcode</h5>
                    <p>
                        User dapat mendesign sendiri badge yang akan menjadi ID resmi di perusahaan dan dapat menambahkan foto jika diperlukan.
                    </p>
                </div>
        
                <div class="card">
                    <!-- icon -->
                    <span class="iconify" data-icon="gridicons:multiple-users"></span>
        
                    <h5>Security dan Multi User</h5>
                    <p>
                    Setiap user yang login ke PISI Attendance akan didefenisi diawal, role untuk masing-masing user bisa dibuat flexibel
                    atau ketat sesuai dengan kebutuhan atau kebijakan perusahaan.
                    </p>
                </div>
        
                <div class="card">
                    <!-- icon -->
                    <span class="iconify" data-icon="mdi:export"></span>
        
                    <h5>Export - Import file</h5>
                    <p>
                    Data mentah kehadiran dapat di-import ke PISI Attendance sehingga didapat rekapitulasi data kehadiran. Data rekapitulasi
                    ini juga dapat di export keluar dari PISI Attendance. Export import ini bisa dalam berbagai format seperti .xls atau
                    .txt maupun .csv.
                    </p>
                </div>

                <div class="card">
                    <!-- icon -->
                    <span class="iconify" data-icon="mdi:hexagon-multiple"></span>
                
                    <h5>Defenisi Formula</h5>
                    <p>
                        Defenisi Formula tanpa batas sesuai peraturan perusahaan User dapat mendefenisikan formula untuk kebijakan perusahaan
                        mengenai kehadiran melalui formulir formula. Jumlah defenisi formula bersifat tidak terbatas.
                    </p>
                </div>

                <div class="card">
                    <!-- icon -->
                    <span class="iconify" data-icon="mdi:link-variant"></span>
                
                    <h5>Link ke mesin Clocking</h5>
                    <p>
                        PISI Attendance memiliki banyak referensi slot machine yang kompatibel, baik itu Barcode, finger print, proximity atau
                        metoda lain.
                    </p>
                </div>
                
                <div class="card">
                    <!-- icon -->
                    <span class="iconify" data-icon="mdi:apple-keyboard-shift"></span>
                
                    <h5>Penentuan Patern Shift</h5>
                    <p>
                         User bisa mendefenisikan pola-pola shift, sehingga perhitungan system akan lebih akurat.
                    </p>
                </div>

                <div class="card">
                    <!-- icon -->
                    <span class="iconify" data-icon="ic:baseline-autorenew"></span>
                
                    <h5>Shift Automatic</h5>
                    <p>
                        Tidak ada Manual Penentuan Shift
                    </p>
                </div>

                <div class="card">
                    <!-- icon -->
                    <span class="iconify" data-icon="mdi:matrix"></span>
                
                    <h5>Fuzzy Logic Sift Rotate Process</h5>
                    <p>
                        Fuzzy logic akan sangat berguna untuk menetapkan jam kerja dimana proses swap IN dan OUT yang tidak teratur. System akan
                        dapat menentukan apakah suatu SWAP dianggap IN atau OUT.
                    </p>
                </div>
            </div>
        
            <!-- row 2 -->
            <div class="flex-column">
                <div class="card">
                    <!-- icon -->
                    <span class="iconify" data-icon="mdi:calendar-blank"></span>
        
                    <h5>Off Day Kalender Jadwal Kerja</h5>
                    <p>
                        Off day bisa didefenisi lebih dahulu dalam Kalender tahunan atau bulanan sesuai dengan rencana kerja perusahaan. Untuk
                        jenis perusahaan dimana hari libur bukan sabtu/minggu, feature ini akan sangat membantu.
                    </p>
                </div>
        
        
                <div class="card">
                    <!-- icon -->
                    <span class="iconify" data-icon="mdi:calendar-check"></span>
        
                    <h5>Kalkulasi Jam Lembur Otomatis</h5>
                    <p>
                        Perhitungan jam lembur akan dihitung secara otomatis oleh system sesuai dengan formula yang telah didefenisi-kan pada
                        diawal pada form formula.
                    </p>
                </div>
        
                <div class="card">
                    <!-- icon -->
                    <span class="iconify" data-icon="mdi:hexagon-outline"></span>
        
                    <h5>Formula Tunjangan dan Potongan</h5>
                    <p>
                    User dapat mendefenisikan formula untuk potongan dan tunjangan melalui formulir formula. Jumlah defenisi formula
                    bersifat tidak terbatas.
                    </p>
                </div>

                <div class="card">
                    <!-- icon -->
                    <span class="iconify" data-icon="mdi:download-network"></span>
                
                    <h5>Download data dari Mesin</h5>
                    <p>
                        Untuk mesin-mesin tertentu, pada PISI Attendance dapat di setting download secara otomatis data swep dari mesin ke
                        program PISI Attendance.
                    </p>
                </div>

                <div class="card">
                    <!-- icon -->
                    <span class="iconify" data-icon="ant-design:file-filled"></span>
                
                    <h5>Custom Payslip</h5>
                    <p>
                        Payslip yang sesuai dengan kebutuhan perusahaan anda
                    </p>
                </div>

                <div class="card">
                    <!-- icon -->
                    <span class="iconify" data-icon="mdi:bank"></span>
                
                    <h5>Export ke Bank Payroll</h5>
                    <p>
                        Export hasil perhitungan gaji masin-masing karyawan ke payroll bank untuk di transfer ke rekening mereka
                    </p>
                </div>

                <div class="card">
                    <!-- icon -->
                    <span class="iconify" data-icon="mdi:file-export"></span>
                
                    <h5>Laporan Pajak</h5>
                    <p>
                        Laporan tinggal submit ke dinas pajak
                    </p>
                </div>

                <div class="card">
                    <!-- icon -->
                    <span class="iconify" data-icon="mdi:file-account"></span>
                
                    <h5>Laporan BPJS</h5>
                    <p>
                        Outstanding Report, Aging Analyst Report, Paid Invoice Report, Due/Overdue Report, & Statement of Account Report.
                    </p>
                </div>
            </div>
        
            <!-- row 3 -->
            <div class="flex-column">
                <div class="card">
                    <!-- icon -->
                    <span class="iconify" data-icon="ic:baseline-autorenew"></span>
        
                    <h5>Recurring Transaction</h5>
                    <p>
                        Auto journal recurring for recurring transaction. Define your period
                        and transaction term.
                    </p>
                </div>
        
                <div class="card">
                    <!-- icon -->
                    <span class="iconify" data-icon="bi:cloud-check-fill"></span>
        
                    <h5>Cloud on Or Premise</h5>
                    <p>
                        You can choose to put your database on cloud or on premise server
                    </p>
                </div>
        
                <div class="card">
                    <!-- icon -->
                    <span class="iconify" data-icon="mdi:web"></span>
        
                    <h5>Web Base</h5>
                    <p>Applications can be accessed from anywhere with any device</p>
                </div>

                <div class="card">
                    <!-- icon -->
                    <span class="iconify" data-icon="mdi:file-multiple"></span>
                
                    <h5>AP & AR Analyst</h5>
                    <p>Outstanding Report, Aging Analyst Report, Paid Invoice Report, Due/Overdue Report, & Statement of Account Report.</p>
                </div>

                <div class="card">
                    <!-- icon -->
                    <span class="iconify" data-icon="mdi:file-multiple"></span>
                
                    <h5>AP & AR Analyst</h5>
                    <p>Outstanding Report, Aging Analyst Report, Paid Invoice Report, Due/Overdue Report, & Statement of Account Report.
                    </p>
                </div>

                <div class="card">
                    <!-- icon -->
                    <span class="iconify" data-icon="mdi:file-multiple"></span>
                
                    <h5>AP & AR Analyst</h5>
                    <p>Outstanding Report, Aging Analyst Report, Paid Invoice Report, Due/Overdue Report, & Statement of Account Report.
                    </p>
                </div>

                <div class="card">
                    <!-- icon -->
                    <span class="iconify" data-icon="mdi:file-multiple"></span>
                
                    <h5>AP & AR Analyst</h5>
                    <p>Outstanding Report, Aging Analyst Report, Paid Invoice Report, Due/Overdue Report, & Statement of Account Report.
                    </p>
                </div>

                <div class="card">
                    <!-- icon -->
                    <span class="iconify" data-icon="mdi:file-multiple"></span>
                
                    <h5>AP & AR Analyst</h5>
                    <p>Outstanding Report, Aging Analyst Report, Paid Invoice Report, Due/Overdue Report, & Statement of Account Report.
                    </p>
                </div>
               
            </div>
        </div>
    </div>
</section>