$primary: #5a4fdc;
header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  box-shadow: 0 3px 12px rgba(6, 11, 47, 0.1);

  .container {
    margin: 0 auto;
    height: 4.5rem;
  }

  .logo {
    flex: 1;
    img {
      height: 34px;
    }
  }
  nav {
    flex: 1.2;
    ul {
      display: flex;
      justify-content: space-between;
      margin: 0;
    }
  }

  .nav-toggle {
    display: none;
  }
}
footer {
  background-color: #292838;

  .address {
    // background-color: #777;
    p {
      font-size: 13px;
      margin: 10px 0;
    }
  }
  .copyright {
    background-color: #242331;
    padding: 20px 0;

    p {
      color: #999;
      margin: 0;
      font-size: 13px;
    }
  }
}

img {
  height: 24px;
  // background-color: black;
}

ul.uk-list {
  // background-color: rgb(196, 255, 168);
  margin: 15px 0 0 0;

  h6 {
    font-weight: 700;
    color: white;
  }
  a {
    font-size: 13px;
  }
}

// when screen is bigger than 901 then:
@media screen and (min-width: 901px) {
  .nav-link {
    li {
      a {
        padding: 1rem;
        &:hover {
          color: $primary;
          font-weight: 600;
          transition: 0.3s ease;
          text-decoration: none;
        }
        &:focus {
          font-weight: 600;
          color: $primary;
        }
      }
    }
  }
}

// when screen is smaller then 900px : execute this code
@media screen and (max-width: 56.25rem) {
  // 900px
  header {
    display: block;

    .logo {
      display: flex;
      margin: 1rem 0;
      // order: 2;
    }

    nav {
      display: none;

      .nav-link {
        display: block;
        padding: 2rem;
        text-align: center;
        box-shadow: 0 3px 12px rgba(6, 11, 47, 0.1);
        li {
          padding: 2rem;
          a {
            padding: 2em 3em;
          }
        }
      }
    }

    .nav-toggle {
      position: absolute;
      top: 0;
      left: 0;
      margin: 1rem;
      display: none;

      &:checked ~ nav {
        display: block;
        position: absolute;
        top: 4.5rem;
        background-color: rgb(255, 255, 255);
        width: 100%;
      }

      &:checked ~ .nav-toggle-label {
        outline: 2px solid rgb(187, 187, 187);
      }
    }

    .nav-toggle-label {
      margin: 1rem 0;
      display: flex;
      height: 40px;
      width: 40px;
      // order: 1;
      align-items: center;
      justify-content: center;

      span,
      span::before,
      span::after {
        display: block;
        background: rgb(80, 80, 80);
        height: 3px;
        width: 1.7rem;
        border-radius: 10px;
        position: relative;
      }

      span::before,
      span::after {
        content: "";
        position: absolute;
      }

      span::before {
        bottom: 8px;
      }

      span::after {
        top: 8px;
      }
    }
  }
}
